.contato{
    padding: 1em;
    background-color: var(--verde);
    text-align: center;
}

.contato__titulo{
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}

.contato__texto{
    font-size: 1.1rem;
    font-weight: 300;
    margin: 1em 0;
}

.contato__email{
    background-color: transparent;
    padding: 2em 1em;
    border: 1px solid var(--preto);
    border-radius: 24px;
    width: 90%;
    text-align: center;
}

.contato__email::placeholder{
    text-align: center;
    font-family: var(--fonte-principal);
    color: var(--preto);
    background: url("../img/Email.svg");
    background-repeat: no-repeat;
    padding-bottom: 10px;

    
}

@media screen and (min-width: 1024px) {
    .contato{
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .contato__email{
        width: 30%;
        padding: 0 1em;
        
    }

    .contato__titulo{
        margin-top: .7em;
    }

    .contato__descricao{
        margin-right: 1em;
        width:30%;
    }

    .contato__email::placeholder{
        background: none;
        padding-bottom: 0;
    }

}